body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
}

.cards {
  margin-top: 300px;
  margin-left: 220px;
  width: 18%;
  display: inline-block;
  border-radius: 10px;
  background-color: #FFE4E1;
}

.title {
  padding: 10%;
}

.image img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.btn {
  background-color: #4CAF50;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
